name: aqh

services:
  backend:
    container_name: aqh_backend
    profiles: ["AQH"]
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8022:8022"
    volumes:
      - ./app:/code/app
      - /documentos:/documentos
    env_file:
      - .env
    #command: >
    #  bash -c "uvicorn app.main:app --host 0.0.0.0 --port 8022 --reload"

# sudo docker compose --profile AQH up -d --build
